body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background: url("../images/Fondo.png") no-repeat center center/cover;
  color: white;
}


.encabezado {
  text-align: center;
  padding: 20px;
  background: rgba(0,0,0,0.5);
}


.roles {
  flex: 1;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100%;
  gap: 50px; 
}


.cuadro {
  border: none;
  background: transparent; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  width: 250px; 
  height: auto;
  text-decoration: none; /* Quitamos el subrayado del enlace */
  color: rgb(15, 12, 12); /* Color del texto blanco */
  font-weight: bold;
}

.cuadro:hover {
  background: rgba(255,255,255,0.1);
  transform: scale(1.05);
  border-radius: 10px; 
}


.rol-cliente .cuadro-titulo {
  color: #f0c300; 
}

.rol-repartidor .cuadro-titulo {
  color: #1a649d; 
}

.rol-admin .cuadro-titulo {
  color: #c40000; 
}


.cuadro-img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-bottom: 15px;
}


.cuadro-titulo {
  font-size: 22px;
  font-weight: bold;
}


@media (max-width: 768px) {
  .roles {
    flex-direction: column; 
    gap: 20px; 
  }
}



